var shadowList=new Array(
	<span bx_type="list" bx_slot="view" bx_query="adrsuche" bx_listname="adrsucheshadow"></span>
	<span bx_type="list" bx_slot="view" bx_query="orgPerson" bx_listname="listorgpshadow"></span>

	<span bx_type="listrows" bx_listname="adrsucheshadow">
		new Array("false",  "{=row_OID}","{=row_OIDCodeAnrede_Name}", "{=row_Name}", "{=row_Vorname}", "{=row_OIDCodeStrasse_Name} {=row_HausNr}", "{=row_Postfach}, {=row_PLZPostfach}", "{=row_PLZOrt}", "{=row_Ort}", "{=row_TelGesch}", "{=row_TelPrivat}", "{=row_Email}")
		<span bx_type="condition" bx_valueleft="{=adrsucheshadow_isLast}" bx_valueright="false">, </span>
		<span bx_type="condition" bx_valueleft="{=adrsucheshadow_isLast}" bx_valueright="true">
				  <span bx_type="condition" bx_valueleft="{=listorgpshadow_listSize}" bx_valueright="0" bx_operator="!=">, </span>
		</span>
	</span>
	
	<span bx_type="listrows" bx_listname="listorgpshadow">
		new Array("false", "{=row_OID}", "{=row_OIDCodeAnrede_Name}", "{=row_Name}", "{=row_Vorname}", "{=row_OIDCodeStrasse_Name} {=row_HausNr}", "{=row_Postfach}, {=row_PLZPostfach}",  "{=row_PLZOrt}", "{=row_Ort}", "{=row_TelGesch}", "{=row_TelPrivat}", "{=row_Email}")
			<span bx_type="condition" bx_valueleft="{=listorgpshadow_isLast}" bx_valueright="false">, </span>
	</span>
	);	
