<label for="klassenlehrer">Klassenlehrer</label>
<span bx_type="condition" bx_valueleft="{=param_OID}" bx_valueright="" bx_operator="!=">
	<select name="param_klassenLehrer" id="klassenLehrer">
		<option value="">Egal</option>
		<span bx_type="listrows" bx_slot="view" bx_query="SchulKlasse" bx_filter="SchulKlasse_SchulHausschulKlassenOID == {=param_OID}" bx_order="SchulKlasse_lpVorname, SchulKlasse_lpName">
			<span bx_type="change-condition" bx_value="{=row_lpVorname} {=row_lpName}">
				<option value="{=row_lpVorname} {=row_lpName}">{=row_lpVorname} {=row_lpName}</option>
			</span>
		</span>
	</select>
</span>